body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.background {
    background: url(../image/bg.jpg) no-repeat center;
    background-size: cover;
}

.container {
    max-width: 1127px;
    width: 100%;
    margin: 0 auto;
}

.flex-row::after {
    content: "";
    display: block;
    clear: both;
}

.col-50 {
    width: 50%;
    float: left;
}

.col-14 {
    width: 14.28%;
    float: left;
}

.text-right {
    text-align: right;
}

.flex-box {
    display: flex;
    align-items: center;
}

.category-text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #324950;
}

.bottom-footer {
    background-color: #324950;
    color: #B9B9B9;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.footer-links li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: #57984C;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.main-slider {
    text-align: center;
    padding: 300px 0;
}

.main-slider h1 {
    color: #735440;
    font-size: 48px;
    font-weight: bold;
}

.main-slider a {
    display: inline-block;
    background-color: #57984C;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    margin-top: 20px;
}

.search-box {
    border-bottom: 1px solid #324950;
    max-width: 350px;
    width: 100%;
}

.search-box input {
    font-size: 16px;
    color: #324950;
    background: transparent;
    border: none;
    width: 100%;
}
